<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to ceate a new post</title>
</head>

<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="enter username" name="username"> <br><br>
        <textarea placeholder="write your post"   name="content"></textarea><br>
        <button>Sumbit Post</button>
    </form>
</body>

</html>